configuration {
    modi:
    "drun,power:rofi-power-menu --no-symbols,emoji:rofimoji --action copy --max-recent 0";
    lines: 10;
    columns: 2;
    font: "JetBrains Mono NF 14";
    bw: 0;
    location: 0;
    padding: 0;
    fixed-num-lines: true;
    show-icons: true;
    sidebar-mode: true;
    separator-style: "none";
    hide-scrollbar: true;
    fullscreen: false;
    fake-transparency: false;
    scroll-method: 1;
    window-format: "[{w}] ·· {c} ·· {t}";
    click-to-exit: true;
    show-match: false;
    combi-hide-mode-prefix: false;
    display-drun: "🔍";
    display-power: "Power";
    display-emoji: "😀";
    kb-remove-word-back: "Control+BackSpace,Alt+d,Alt+BackSpace";
    kb-accept-entry: "Control+m,Return,KP_Enter,Alt+m";
    kb-mode-next: "Shift+Right,Control+Tab,Alt+l,Alt+Tab";
    kb-mode-previous: "Shift+Left,Alt+h";
    kb-row-left: "Control+Page_Up,Control+Alt+h";
    kb-row-right: "Control+Page_Down,Control+Alt+l";
    kb-row-up: "Up,Control+p,Alt+k";
    kb-row-down: "Down,Control+n,Alt+j";
    kb-select-1: "";
    kb-select-2: "";
    kb-select-3: "";
    kb-select-4: "";
    kb-select-5: "";
    kb-select-6: "";
    kb-select-7: "";
    kb-select-8: "";
    kb-select-9: "";
    kb-select-10: "";
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
    me-accept-custom: "MouseMiddle";
}

window {
    background-color: @xgreyhx;
    border: 2;
    border-color: @xgold4;
    border-radius: 4px;
    padding: 42;
    width: 45%;
    height: 45%;
}
mainbox {
    border: 0;
    border-color: @xgrey1;
    padding: 4;
}
message {
    border: 2px;
    padding: 2px;
}
textbox {
    text-color: @xgold1;
}
listview {
    fixed-height: 0;
    border: 0;
    spacing: 4;
    scrollbar: false;
    padding: 22 0 0;
}
element {
    border: 0;
    padding: 12;
    border-radius: 6;
}
element normal.normal {
    background-color: @xgreyhx;
    text-color:       @xblue1;
}
element selected.normal {
    background-color: @xblue6;
    text-color:       @xgold1;
    border:           0 0 0 3;
    border-color:     @xgold4;
}
element alternate.normal {
    background-color: @xgreyhx;
    text-color:       @xblue1;
}
element-icon {
    margin: 0 10 0 4;
}
scrollbar {
    width:        4px;
    border:       0;
    handle-color: @xblue1;
    handle-width: 8px;
    padding:      0;
}
sidebar {
    border-radius: 20px;
}
inputbar {
    spacing:          0;
    text-color:       @xblue1;
    background-color: @xgreyhx;
    padding:          12;
    border:           0 0 0 3;
    border-radius:    6;
    border-color:     @xblue2;
    padding:          10 12;
    children:         [ prompt,textbox-prompt-colon,entry,case-indicator ];
}
case-indicator {
    spacing:          2;
    text-color:       @xblue1;
}
entry {
    spacing:          0;
    padding:          0 4;
    text-color:       @xblue1;
    border:           0 0 0 0;
    border-radius:    0;
    border-color:     @xgold5;
}
prompt {
    spacing:    0;
    margin:     0 2 0 4;
    border:     0;
    text-color: @xblue1;
}
textbox-prompt-colon {
    expand:     false;
    str:        " ";
    text-color: inherit;
}

button {
    margin:           5px;
    text-color:       @xblue1;
    background-color: @xgreyhx;
    border:           0 0 0 0;
    border-radius:    6;
    border-color:     @xblue2;
    padding:          8;
}
button selected {
    border:           0 0 0 0;
    text-color:       @xblue1;
    background-color: @xblue6;
    border-color:     @xblue2;
}

@import "colors.rasi"
